/* General style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000;
    --white: #fff;
    --black2: #131313;
    --gray: rgba(255, 255, 255, 0.6);
    --black3: rgba(255, 255, 255, .1);
    --white2: #FEFEFE;
    --gray2: #aaa;
    --black4: #333;
}

body {
    font: 10px Arial, Helvetica, sans-serif;
}
    a {
        text-decoration: none;
    }

/* Header */
.header {
    font-size: 1.3em;
    position: fixed;
    top: 0;
    width: 100%;
}
