/* General style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000;
    --white: #fff;
    --black2: #131313;
    --gray: rgba(255, 255, 255, 0.6);
    --black3: rgba(255, 255, 255, .1);
    --white2: #FEFEFE;
    --gray2: #aaa;
    --black4: #333;
    --gray3: #F8F8F8;
    --gray4: #999;
    --black5: rgba(40, 40, 40, .6);
    --white3: #eee;
}

body {
    font: 10px Arial, Helvetica, sans-serif;
}
    a {
        text-decoration: none;
    }

/* Header */
.header {
    font-size: 1.3em;
    position: fixed;
    top: 0;
    width: 100%;
}
    header a:focus {
        outline: none;
    }

    .header__nav {
        display: flex;
        align-items: center;
        background-color: var(--black);
    }
        .nav__logo {
            display: none;
            background-color: var(--black);
            padding: 1em 1.5em;
        }
            .navEffect-logo {
                display: inline-block;
            }

            .navEffect-logo-transition {
                transform: translateY(100%);
                transition: transform .5s;
                position: relative;
                bottom: 1.1em;
            }

            .nav__logo--svg {
                width: 66px;
                height: 16px;
            }

        .nav__wrapper {
            width: 100%;
        }
            .wrapper__box1 {
                background-color: var(--black2);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 1.5em;
                height: 31px;
            }
                .navEffect-box1 {
                    display: none;
                }

                .box1__list {
                    display: inline-flex;
                    list-style: none;
                }
                    .box1__list a {
                        color: var(--gray);
                        display: block;
                    }
                        .box1__list a:hover {
                            color: var(--white);
                        }
                
                .box1__list1 li {
                    margin-right: .9em;
                    padding: .5em 0;
                }
                    .list1--news:first-of-type {
                        color: var(--white);
                    }

                    .list1__ul {
                        list-style: none;
                        background-color: var(--black);
                        position: absolute;
                        top: 31px;
                        width: 210px;
                        margin: 0 0 0 -.8em;
                        display: none;
                    }
                        .box1__list1 li:hover .list1__ul {
                            display: block;
                        }
                            .list1__ul li {
                                margin: 0;
                                padding: 0;
                            }
                                .list1__ul li:last-of-type {
                                    border-top: 1px solid var(--black3);
                                }
                                    .list1__ul li a {
                                        padding: .7em;
                                    }
                                    
                .box1__list2 li {
                    margin-left: .9em;
                }

            .wrapper__box2 {
                background-color: var(--white2);
                height: 3.3em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 1.5em;
                font-size: 1.1em;
            }
                .box2__list {
                    list-style: none;
                    display: inline-flex;
                }
                    .box2__list a {
                        color: var(--gray2);
                        margin-right: 1.5em;
                    }
                        .box2__list a:hover {
                            color: var(--black);
                        }

                .box2__items {
                    width: 6em;
                    height: 3.3em;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                    .items__search {
                        width: 4em;
                        text-align: center;
                    }
                        .items__search:hover path {
                            fill: var(--black);
                        }
                    
                    .items__bar {
                        padding: .7em;
                        display: none;
                    }

@media screen and (max-width: 1200px) {
    .box2__list li:nth-last-child(-n+2) a {
        display: none;
    }
}

@media screen and (max-width: 1025px) {
    .nav__logo {
        display: inline-block;
    }
}

@media screen and (max-width: 780px) {
    .wrapper__box1,
    .box2__list {
        display: none;
    }

    .wrapper__box2 {
        justify-content: flex-end;
    }
    
    .box2__items {
        margin-right: .5em;
        justify-content: space-between;
    }
        .items__search {
            width: 2.5em;
        }

        .items__bar {
            display: inline-block;
        }
}
