/* General style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000;
    --white: #fff;
    --black2: #131313;
    --gray: rgba(255, 255, 255, 0.6);
    --black3: rgba(255, 255, 255, .1);
    --white2: #FEFEFE;
    --gray2: #aaa;
    --black4: #333;
}

body {
    font: 10px Arial, Helvetica, sans-serif;
}
    a {
        text-decoration: none;
    }

/* Header */
.header {
    font-size: 1.3em;
    position: fixed;
    top: 0;
    width: 100%;
}
    header a:focus {
        outline: none;
    }

    .header__nav {
        display: flex;
        align-items: center;
        background-color: var(--black);
    }
        .nav__logo {
            display: none;
            background-color: var(--black);
            padding: 1em 1.5em;
        }
            .navEffect-logo {
                display: inline-block;
            }

            .navEffect-logo-transition {
                transform: translateY(100%);
                transition: transform .5s;
                position: relative;
                bottom: 1.1em;
            }

            .nav__logo--svg {
                width: 66px;
                height: 16px;
            }

        .nav__wrapper {
            width: 100%;
        }
